@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

.main{
    margin: 4% 15%;
}

.row{
    font-family: 'Old Standard TT', serif;
    background-color: #F4F4F4;
}
 
.portrait{
    max-height:350px;
    max-width: 350px;
    border-radius: 50%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.muted-pic{
    display: block;
}

.original-pic, .night-pic, .teal-pic, .beach-pic{
    display: none;
}

.about{
    padding: 0;
}

.intro{
    color:#373737;
}

.main-h{
    font-size: 4em;
}

.intro-h{
    font-size: 3em;
    color: #373737;
}

.sub-h{
    font-size: 1.5em;
    color: #373737;
}

@-webkit-keyframes bubble {
    100% {background-color: #DCD0C0;}
}

@keyframes bubble {
    100% {background-color: #DCD0C0;}
}

.bubble:hover{
    -webkit-animation: bubble 1s forwards;
    animation: bubble 1s forwards;
    cursor: pointer;
}

.bubble{
    height:30px;
    width:80px;
    margin: 10px;
    border-radius: 20px;
    background-color: #C0B283;
    color:white;
    font-size: 1em;
    border:none;
    -webkit-box-shadow: 3px 3px 3px #373737;
    box-shadow: 3px 3px 3px #373737;
}

@-webkit-keyframes round {
    100% {
          background-color: #DCD0C0;}
}

@keyframes round {
    100% {
          background-color: #DCD0C0;}
}

.button:hover{
    -webkit-animation: round 1s forwards;
    animation: round 1s forwards;
    cursor: pointer;
}

.button{
    margin-top: 10px;
    margin-right: 5px;
    height:30px;
    width:85px;
    border-radius: 20px;
    background-color: #C0B283;
    color:white;
    font-size: 1em;
    border:none;
    -webkit-box-shadow: 3px 3px 3px #373737;
    box-shadow: 3px 3px 3px #373737;
}
    
.section-one{
    color:#959492;
}

.list{
    font-size: 1.3em;
    color:#373737;
    background-color:#DCD0C0;
    -webkit-box-shadow: 2px 2px 2px #373737;
    box-shadow: 2px 2px 2px #373737;
}

.list-title{
    font-size: 1.5em;
    color: #373737;
}

.list-dev{
    color:#373737;
    padding: 50px 100px;
}

.list-dev-color{
    padding: 10px 0;
}

.gallery{
    border: 5px solid #DCD0C0;
}

.pricing-list{
    
    background-color:#DCD0C0;
    -webkit-box-shadow: 2px 2px 2px #373737;
    box-shadow: 2px 2px 2px #373737;
}

.white-h{
    color:#373737;
}

footer{
    bottom: 0px;
    background-color: #DCD0C0;
    color:#373737;
    font-size: 1.2em;
}

a{
    color:#373737;
}

.skills-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}







/*////////////// FOOTER ///////////////*/

footer{
    position: relative;
    bottom:0;
    width: 100%;
    padding:10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.foot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fas{
    margin-right: 20px;
}

.fab{
    margin: 10px;
}































@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}

@media screen and (max-width:1400px) {
    .intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .style-bubbles{
        padding: 10px 0;
    }
    .about-blurb, .blurb-about, .muted-pic{
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .gallery{
        max-width:100%;
        border:none;
    }
}


@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .sub-h{
        padding:10px;
    }
    .site-nav{
        padding: 0;
    }
    .nav{
        font-size: 1em;
    }
    header{
        -webkit-animation:none;
        animation:none;
        left:0;
        text-align: center;
    }
    .section-one{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .about, .about-blurb, .blurb-about, .main, .muted-pic, .intro{
        margin:0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .main, .section-one{
        padding:0;
        margin:0;
        max-width: 100%;
        max-height:100%;
    }
    footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .list-dev, .list{
        padding: 0;
        border:none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .skills{
        text-align: center;
    }
    .foot-blurb, h4{
        margin: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .gallery{
        max-width:100%;
        border:none;
    }
}

@media screen and (max-width:640px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .sub-h{
        padding:10px;
    }
    
    .site-nav{
        padding: 0;
    }
    .nav{
        
        font-size: 1em;
    }
    header{
        -webkit-animation:none;
        animation:none;
        left:0;
        text-align: center;
    }
    .section-one{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .about, .about-blurb, .blurb-about, .main, .muted-pic, .intro{
        margin:0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .main, .section-one{
        padding:0;
        margin:0;
        max-width: 100%;
        max-height:100%;
    }
    footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .list-dev, .list{
        padding: 0;
        border:none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .skills{
        text-align: center;
    }
    .foot-blurb, h4{
        margin: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        
    }
    .gallery{
        max-width:100%;
        border:none;
    }
}

@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .sub-h{
        padding:10px;
    }
    .site-nav{
        padding: 0;
    }
    .nav{
        
        font-size: 1em;
    }
    header{
        -webkit-animation:none;
        animation:none;
        left:0;
        text-align: center;
    }
    .section-one{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .about, .about-blurb, .blurb-about, .main, .muted-pic, .intro{
        margin:0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .main, .section-one{
        padding:0;
        margin:0;
        max-width: 100%;
        max-height:100%;
    }
    footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .list-dev, .list{
        padding: 0;
        border:none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .skills{
        text-align: center;
    }
    .foot-blurb, h4{
        margin: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        
    }
    .gallery{
        max-width:100%;
        border:none;
    }
}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 320px;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .sub-h{
        padding:10px;
    }
    .site-nav{
        padding: 0;
    }
    .nav{
    
        font-size: 1em;
    }
    header{
        -webkit-animation:none;
        animation:none;
        left:0;
        text-align: center;
    }
    .section-one{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .about, .about-blurb, .blurb-about, .main, .muted-pic, .intro{
        margin:0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .main, .section-one{
        padding:0;
        margin:0;
        max-width: 100%;
        max-height:100%;
    }
    footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .list-dev, .list{
        padding: 0;
        border:none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .skills{
        text-align: center;
    }
    .foot-blurb{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .gallery{
        max-width:100%;
        border:none;
    }
}